.Distributer {
    flex: 4;
    padding: 20px;
  }
  
  .DistributerTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .DistributerAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .DistributerTop {
    display: flex;
  }
  
  .DistributerTopLeft,
  .DistributerTopRight {
    flex: 1;
  }
  
  .DistributerTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .DistributerInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .DistributerInfoTop {
    display: flex;
    align-items: center;
  }
  
  .DistributerName {
    font-weight: 600;
  }
  
  .DistributerInfoBottom {
    margin-top: 10px;
  }
  
  .DistributerInfoItem {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .DistributerInfoValue {
    font-weight: 300;
  }
  
  .DistributerBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .DistributerForm {
    display: flex;
    justify-content: space-between;
  }
  
  .DistributerFormLeft {
    display: flex;
    flex-direction: column;
  }
  
  .DistributerFormLeft > label {
    margin-bottom: 10px;
    color: gray;
  }
  
  .DistributerFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
  }
  
  .DistributerFormLeft >select{
    margin-bottom: 10px;
  }
  
  .DistributerUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .DistributerFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .DistributerUpload{
    display: flex;
    align-items: center;
  }
  
  .DistributerButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor: pointer;
  }